/* font styling */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/*   font-family: "Space Mono", monospace; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(92, 92, 247, 1) 0%,
    rgba(0, 212, 255, 1) 100%
    );
    font-family: "Space Mono", monospace;
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
}

.horizontal-gradient {
    background: linear-gradient(to right, blue, pink);
}

/* 
==============================================================================================
MAIN MENU STYLING 
============================================================================================== */
h1,
h2,
h3 {
    color: #ffffff;
}

.main-heading {
    text-align: center;
    margin-top: 0.5em;
    font-size: 2rem;
    letter-spacing: 0.05em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.primary-container {
    width: 60%;
    margin: 4em auto 3em;
    background: #4d10bd42;
    padding: 0.55em;
    border-radius: 10px;
    text-align: center;
    border-style: ridge;
    border-color: rgb(241, 12, 222);
}

.selection-heading {
    font-size: 1.65rem;
    text-align: center;
}

#output-container {
    width: 60%;
    margin: 1.5em auto 2em;
    display: flex;
    flex-direction: column;
}


/*
==============================================================================================
END OF MAIN MENU STYLING 
============================================================================================== */

/*
==============================================================================================
matrix dimensions and new stuff by Ali
============================================================================================== */

.output-number {
    background-color: #9c62dd;
    padding: 1.75em;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.row-output {
    color: white;
    display: flex;
    margin-bottom: 1em;
    justify-content: space-evenly;
}


@media (max-width: 920px) {
    .primary-container {
        width: 95%;
        margin: 2em auto 0;
        text-align: center;
    }
}

